# Q1 
answer : shirt

# Q2

In [ ]:
num = 0
sumNum = 0
while num < 1000:
    num += 1
    if num % 3 == 0:
        sumNum += num

print(sumNum)

166833

# Q3

In [ ]:
col = 0
while col < 5:
    col += 1
    for i in range(col):
        print('*', end="")
    print('')

# Q4

In [15]:
i = [i for i in range(1, 101)]
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Q5

In [14]:
A_student = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
scoreSum = 0
for score in A_student:
    scoreSum += score
meanScore = scoreSum/len(A_student)
print(meanScore)

79.0

# Q6

In [13]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]

print(result)

[2, 6, 10]