**Q1 다음은 Calculator 클래스이다.**

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```


**위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 즉 다음과 같이 동작하는 클래스를 만들어야 한다.**

```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [4]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

In [5]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력

3

**Q2 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 즉 다음과 같이 동작해야 한다.**

```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력
```
**단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.**
```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```

In [6]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

In [7]:
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

100

**Q3 다음 결과를 예측해 보자.**

**하나.**
```
>>> all([1, 2, abs(-3)-3])
False # abs(-3)-3 은 0 이므로 False
```
**둘.**
```
>>> chr(ord('a')) == 'a'
True # ord('a') 는 'a'의 유니코드 값 97을 돌려주고 다시 그 값을 통해 97에 해당하는 문자를 출력한다.
```

**Q4 filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.**

In [8]:
list(filter(lambda a : a > 0, [1,-2,3,-5,8,-3]))

[1, 3, 8]

**Q5 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.**
```
>>> hex(234)
'0xea'
```
**이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.**
> ※ 내장 함수 int를 활용해 보자.

In [9]:
int('0xea', 16)

234

**Q6 map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.**

In [10]:
list(map(lambda a : a*3, [1,2,3,4]))

[3, 6, 9, 12]

**Q7 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.**
```
[-8, 2, 7, 5, -3, 5, 0, 1]
```

In [11]:
l = [-8, 2, 7, 5, -3, 5, 0, 1]
max(l)+min(l)

-1

**Q8 17 / 3의 결과는 다음과 같다.**
```
>>> 17 / 3
5.666666666666667
```
**위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.**

In [12]:
round(17/3, 4)

5.6667

**Q9 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트(C:\doit\myargv.py)를 작성해 보자.**
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
> ※ 외장 함수 sys.argv를 사용해 보자.

**답**
```
import sys

N = sys.argv[:]
Nsum = 0
for i in N:
  Nsum += i
print(Nsum)
```

**Q10 os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.**

1. C:\doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

**답**
```
import os
os.chdir("C:\doit")
A = os.popen("dir")
print(A.read())
```

**Q11 glob 모듈을 사용하여 C:\doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.**

**답**
```
import glob

glob.glob(C:\doit\*.py)
```

**Q12 time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.**

```
2018/04/03 17:20:32
```

In [13]:
import time

time.strftime('%Y/%m/%d %H:%M:%S', time.localtime(time.time()))

'2022/07/22 07:18:33'

**Q13 random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).**

In [14]:
import random

num = []
while len(num) < 6: # 숫자가 6개가 될때까지
  n = random.randint(1,45)
  if n in num: # 중복되는 숫자는 다시 한번 더
    n = random.randint(1,45)
  else: # 중복이 안된다면 추가
    num.append(n)
  
print(num)

[10, 8, 16, 2, 26, 39]